################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/BoletoBusApp/FileContentIndex/3bec73d6-933c-4f8e-86a7-f88a9b3bb418.vsidx
/.vs/BoletoBusApp/FileContentIndex/65dae3f3-8d3f-4880-bfaa-a94a90258feb.vsidx
/.vs/BoletoBusApp/FileContentIndex/90d9a882-ab37-4fcd-9289-ca35f39ae543.vsidx
/.vs/BoletoBusApp/FileContentIndex/a79a2912-2c48-4659-8b78-1e7b546230b0.vsidx
/.vs/BoletoBusApp/FileContentIndex/e00e5ed5-74af-4502-9af4-9e28d6ac949b.vsidx
/.vs/BoletoBusApp/FileContentIndex/117ac6c1-5a1d-4817-997d-9ff8a9b7e4f6.vsidx
/.vs/BoletoBusApp/FileContentIndex/178e9d1d-5bcd-4d84-b6ad-3cade5c00479.vsidx
/.vs/BoletoBusApp/FileContentIndex/19e7c49e-a035-4084-ac9f-66a16bb9b997.vsidx
/.vs/BoletoBusApp/FileContentIndex/77e130f4-6239-4d16-8802-f0bc78589335.vsidx
/.vs/BoletoBusApp/FileContentIndex/a9ff9a3c-12c6-40f5-8da0-96b463acb596.vsidx
/.vs/BoletoBusApp/FileContentIndex/f03ecb02-ad10-4e90-b393-5c8050ee6b9e.vsidx
/.vs/BoletoBusApp/FileContentIndex/f493497d-7806-4d32-ae9f-386fc461f18b.vsidx
